@import 'variables';
@import 'mixins';

@include modify-position-for-floating-labels;

.reset-password {
  @include flex-column-align-center;
  gap: 1rem;

  &__header {
    @include flex-column-align-center;
    padding: 1rem;
    background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    @include gradient-text;
    @include text-size-weight-height(1.75rem, 600, 100%);
  }

  .form {
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;

    @include floating-input-label-styles;

    .button-wrapper {
      width: 16rem;
      height: 3.5rem;
    }
  }
}
