<div class="reset-password">
  <div class="reset-password__header">Enter new password</div>
  <form class="form" [formGroup]="form">
    <div class="form__field p-float-label" formGroupName="password">
      <input
        pInputText
        formControlName="password"
        type="password"
        id="password"
        name="password"
        class="field__input" />
      <label for="password" class="field__label">Password<span>*</span></label>
      @if (form.controls.password.controls.password; as password) {
        <ng-container>
          @if (password.dirty && password.hasError('required')) {
            <div class="field__error">Password is required</div>
          }
          @if (password.dirty && password.hasError('pattern')) {
            <div class="field__error">Password is invalid</div>
          }
          @if (password.dirty && password.hasError('minlength')) {
            <div class="field__error">Password is too short</div>
          }
          @if (password.dirty && password.hasError('maxlength')) {
            <div class="field__error">Password is too long</div>
          }
        </ng-container>
      }
    </div>
    <div class="form__field p-float-label" formGroupName="password">
      <input
        pInputText
        formControlName="passwordConfirmation"
        type="password"
        id="passwordConfirmation"
        name="passwordConfirmation"
        class="field__input" />
      <label for="passwordConfirmation" class="field__label"
        >Confirm password<span>*</span></label
      >
      @if (
        form.controls.password.controls.passwordConfirmation;
        as passwordConfirmation
      ) {
        <ng-container>
          @if (
            passwordConfirmation.dirty &&
            passwordConfirmation.hasError('passwordShouldMatch')
          ) {
            <div class="field__error">Passwords doesn't match</div>
          }
        </ng-container>
      }
    </div>

    <div class="button-wrapper">
      <p-button
        type="submit"
        styleClass="form__button"
        label="Reset Password"></p-button>
    </div>
  </form>
</div>
