<p-overlayPanel #op>
  <ng-template pTemplate="content">
    <div class="user-bar__actions">
      <!-- Different actions depending whether user is logged in or not -->
      <!-- unauthorized actions -->
      @if (isLoggedIn === false) {
        <div class="action" routerLink="sign-in">Sign In</div>
        <div class="action" routerLink="sign-up">Sign Up</div>
      } @else {
        <div class="action" routerLink="/settings">Settings</div>
        <div class="action" routerLink="/create-topic">Write topic</div>
        <div
          class="action"
          (click)="logOut()"
          tabindex="0"
          (keydown.enter)="logOut()">
          Log Out
        </div>
      }
    </div>
  </ng-template>
</p-overlayPanel>

<div class="c-user-bar">
  <i
    class="pi pi-user"
    style="font-size: 1.5rem"
    tabindex="0"
    (keydown.enter)="op.toggle($event)"
    (click)="op.toggle($event)"></i>
</div>
