<div class="home-page">
  <h1 class="header-top">Welcome to RecoPostHub</h1>
  <div class="header-info">
    <p class="text">Here is glimpse what we all about:</p>
    <p class="text"><span>💬</span>Explore more than 100 engaging topics</p>
    <p class="text"><span>📋</span>Discover over 500 helpful tags to navigate your interests</p>
  </div>
  <div class="all-hashtags">
    <div class="header">Here are some of the tags</div>
    <div class="wrapper">
      <app-hashtag-list
        color="#003082"
        [hashtags]="hashtags"
        [isPreview]="false"
        [textSize]="20"></app-hashtag-list>
    </div>
  </div>

  <div class="personalized" *ngIf="isAuthenticated">
    <div class="hashtags">
      <h3 class="header">
        According to your preferences you would enjoy reading on the following
        tags:
      </h3>
      @if (hashtagsLoading) {
        <div class="spinner">
          <p-progressSpinner
            styleClass="w-5rem h-5rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s"></p-progressSpinner>
        </div>
      } @else {
        <div class="wrapper">
          <app-hashtag-list
            color="#003082"
            [hashtags]="personalizedHashtags"
            [isPreview]="false"
            [textSize]="20"></app-hashtag-list>
        </div>
      }
    </div>
    <div class="topics">
      <h3 class="header">Or you can immediately read on these topics:</h3>
      @if (topicsLoading) {
        <div class="spinner">
          <p-progressSpinner
            styleClass="w-5rem h-5rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s"></p-progressSpinner>
        </div>
      } @else {
        <div class="wrapper">
          @for (item of personalizedTopics; track $index) {
            <app-topic-preview [topic]="item"></app-topic-preview>
          }
        </div>
      }
    </div>
  </div>
  <div class="not-autenticated" *ngIf="!isAuthenticated">
    For better experience we suggest you to<a routerLink="sign-up">sign up</a>
  </div>
</div>
