@import 'variables';
@import 'mixins';

.c-header {
  @include flex-row-align-center;
  height: 5em;
  padding: 1rem 2rem;

  border-bottom: 0.1rem solid $grey-color-2;

  &__hamburger {
    display: none;

    @media #{$mobile} {
      display: block;
    }
  }

  &__logo {
    img {
      width: 10rem;
      height: 4rem;
    }
  }

  &__links {
    margin-left: 3rem;
    @include flex-row-align-center;
    gap: 1rem;

    .link {
      color: $dark-color;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 0.01rem;
    }

    .link.active {
      color: $red-color;
    }
  }

  &__actions {
    @include flex-row-align-center;
    margin-left: auto;
    gap: 2rem;

    app-search-bar {
      height: 100%;
    }
  }
}
