<div class="topic-wrapper">
  <h1 class="topic-title">{{ title }}</h1>
  <div class="topic-meta">
    <h4 class="author">By {{ user.name }}</h4>
    <p class="date-created">
      {{ createdAt | date: 'd MMM, YYYY HH:mm' }}
    </p>
    <app-hashtag-list
      [hashtags]="hashtags"
      [textSize]="18"
      [isPreview]="isPreview"></app-hashtag-list>
    <!-- <div class="hashtags">
      @for (hashtag of hashtags; track $index) {
        <p class="hashtag">#{{ hashtag.name }}</p>
      }
    </div> -->
  </div>
  <div class="topic-content" #topicHtml [innerHTML]="htmlContent"></div>
</div>
