@if (isLoaded) {
  <div class="profile-page">
    <div class="profile-data">
      <div class="short-info">
        <div class="picture">
          <img [src]="url" alt="alt" class="img" />
        </div>
        <div class="info">
          <p>{{ profile.username }}</p>
          <p>Name: {{ profile.name }}</p>
          <p>Joined at {{ profile.createdAt | date: 'd MMM, YYYY HH:mm Z' }}</p>
          <p>Role: {{ profile.role }}</p>
        </div>
      </div>

      <div class="information">
        @if (profile.settings.showBio && profile.bio) {
          <p>Bio: {{ profile.bio }}</p>
        }
        @if (profile.settings.showComments) {
          <p>Comments</p>
        }
        @if (profile.settings.showHashtagSubscriptions) {
          <div>HASHTAGS</div>
        }

        @if (profile.settings.showEmail) {
          <p>Email: {{ profile.email }}</p>
        }

        @if (profile.settings.showKarma) {
          <p>Karma: {{ profile.karma }}</p>
        }

        @if (profile.settings.showRating) {
          <p>Rating: {{ profile.rating }}</p>
        }

        <!-- topics that user is writed -->
      </div>
    </div>

    @if (isAuthenticated) {
      <div class="actions">
        <div class="button-wrapper">
          @if (isSubbed) {
            <p-button
              [loading]="subscriptionButtonPending"
              class="button"
              label="Unsubscribe"
              (onClick)="onUnsubscribe()"></p-button>
          } @else {
            <p-button
              [loading]="subscriptionButtonPending"
              class="button"
              label="Subscribe"
              (onClick)="onSubscribe()"></p-button>
          }
        </div>
      </div>
    }
  </div>
}
