@import 'variables';
@import 'mixins';

.profile-page {
  display: flex;
  flex-direction: column;

  .profile-data {
    .short-info {
      display: flex;
      .picture {
        display: flex;
        img {
          object-fit: cover;
          border-radius: 50%;
          height: 300px;
          width: 300px;
        }
      }

      .info {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
      }
    }

    .information {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      p {
        font-size: large;
        font-weight: 500;
        width: fit-content;
      }
    }
  }

  .actions {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .button-wrapper {
      display: flex;
      justify-self: center;
      width: 300px;
      height: 40px;
      .button {
        width: 100%;
        height: 100%;
      }
    }
  }
}
