@import 'variables';

.topic-preview {
  display: flex;
  flex-flow: column;
  padding: 0 16px;
  width: 50%;

  @media #{$mobile} {
    width: 100%;
  }
  gap: 10px;

  .topic-title {
    font-size: large;
    font-weight: bald;
    color: black;

    &:hover {
      color: rgb(97, 97, 176);
      cursor: pointer;
    }
  }

  .topic-metadata {
    display: flex;
    justify-content: space-between;
    width: 50%;

    @media #{$mobile} {
      width: 100%;
    }

    .metadata {
      display: flex;
      flex-direction: column;

      .author {
        color: black;
        
        &:hover {
          cursor: pointer;
          color: rgb(97, 97, 176);
        }
      }

      .date-created {
        color: black;
        font-weight: 400;
      }

      .rating {
        font-weight: 400;
        color: black;
        span {
          font-weight: 600;
          color: rgb(32, 31, 29);
        }
      }
    }

    .button-wrapper {
      display: flex;
      justify-self: center;
      width: 30px;
      height: 30px;
      .button {
        width: 100%;
        height: 100%;
      }
    }
  }

  .topic-hashtags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    color: $hashtag-color;

    .hashtag {
      font-weight: 800;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        color: $hashtag-color-hover;
      }
    }
  }
}

.summarization-overlay {
  display: flex;
  width: 300px;
  padding: 20px;
}
