<div class="topic-preview">
  <h2
    class="topic-title"
    (click)="navigateToTopicPage()"
    (keydown.enter)="navigateToTopicPage()"
    tabindex="0">
    {{ topic.title }}
  </h2>
  <div class="topic-hashtags">
    @for (item of topic.hashtags; track $index) {
      <div class="hashtag">#{{ item.name }}</div>
    }
  </div>
  <div class="topic-metadata">
    <div class="metadata">
      <h4
        class="author"
        tabindex="0"
        (click)="navigateToAuthor()"
        (keydown.enter)="navigateToAuthor()">
        By {{ topic.author.name }}
      </h4>
      <p class="date-created">
        {{ topic.createdAt | date: 'd, MMM, YYYY hh:mm' }}
      </p>
    </div>

    <div class="button-wrapper">
      <p-overlayPanel #op>
        <div class="summarization-overlay">
          Summary: {{ topic.summarization }}
        </div>
      </p-overlayPanel>
      <p-button
        class="button"
        (onClick)="op.toggle($event)"
        icon="pi pi-angle-double-down"
        severity="secondary"></p-button>
    </div>
  </div>
</div>
