:host ::ng-deep .NgxEditor__MenuBar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

:host ::ng-deep .NgxEditor__Content {
  min-height: 120px;
}

.comment-section-wrapper {
  display: flex;
  flex-flow: column;

  .empty-comment-section {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    font-weight: 600;
    font-size: x-large;
    align-items: center;
    justify-content: flex-start;
  }

  .comments {
    display: flex;
    flex-flow: column;
    .comment {
      padding: 10px;
      display: flex;
      flex-flow: column;
      gap: 5px;

      .button-wrapper {
        width: 6rem;
      }

      .comment-author {
        display: flex;
        flex-flow: column;
        gap: 4px;

        .date {
          color: black;
          font-weight: 700;
          font-size: medium;
        }

        .username {
          cursor: pointer;
          font-size: large;
          font-weight: 600;
          color: rgb(92, 92, 236);

          &:hover {
            color: rgb(0, 0, 87);
          }
        }
      }

      .actions {
        display: flex;
        gap: 10px;

        .reply {
          width: 50px;
          height: 30px;
        }
      }
    }
  }

  .write-comment {
    .reply-wrapper {
      padding: 5px;
      display: flex;
      gap: 10px;
      height: 30px;
      p {
        align-items: center;
        font-weight: 600;
        font-size: large;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .wrap {
        width: 20px;
      }
    }

    .button-wrapper {
      display: flex;
      width: 20%;
      height: 35px;
      margin-top: 10px;
      .button {
        width: 100%;
        height: 100%;
      }
    }
  }
}
