<div class="comment-section-wrapper">
  @if (comments.length === 0) {
    <div class="empty-comment-section">No comments yet</div>
  } @else {
    <div class="comments">
      @for (comment of comments; track $index) {
        <ng-container
          *ngTemplateOutlet="
            commentTemplate;
            context: { comment: comment, level: 0, show: false }
          "></ng-container>

        <!-- <div class="comment">
          <div class="comment-author">
            <div class="username">{{ comment.author.username }}</div>
            <div class="date">
              {{ comment.createdAt | date: 'd MMM, YYYY HH:mm Z' }}
            </div>
          </div>
          <div class="comment-content" [innerHTML]="comment.htmlContent"></div>
          <div class="actions">
            @if (isAuthenticated) {
              <div class="reply">
                <p-button
                  label="Reply"
                  (onClick)="
                    replyToComment(comment.id, comment.author.username)
                  "
                  [text]="true"
                  severity="secondary"></p-button>
              </div>
            }
          </div>
        </div> -->
      }
    </div>
  }

  @if (isAuthenticated) {
    <div class="write-comment">
      @if (replyData) {
        <div class="reply-wrapper">
          <p>{{ replyData }}</p>
          <div class="wrap">
            <p-button icon="pi pi-times" (onClick)="cancelReply()"></p-button>
          </div>
        </div>
      }
      <div class="comment-editor">
        <ngx-editor-floating-menu [editor]="editor">
          <ngx-editor-menu
            [editor]="editor"
            [toolbar]="toolbar"></ngx-editor-menu>
        </ngx-editor-floating-menu>
        <ngx-editor
          [editor]="editor"
          [formControl]="commentControl"></ngx-editor>
      </div>

      <div class="button-wrapper">
        <p-button
          class="button"
          label="Send"
          (onClick)="sendComment()"></p-button>
      </div>
    </div>
  } @else {
    <div class="not-authenticated-message"></div>
  }
</div>

<ng-template #commentTemplate let-comment="comment" let-level="level" let-show="show">
  <div class="comment" [style.marginLeft.px]="level * 10">
    <div class="comment-author">
      <!-- {{ comment | json }} -->
      <div class="username">{{ comment.author.username }}</div>
      <div class="date">
        {{ comment.createdAt | date: 'd MMM, YYYY HH:mm' }}
      </div>
    </div>
    <div class="comment-content" [innerHTML]="comment.htmlContent"></div>
    <div class="actions">
      @if (isAuthenticated) {
        <div class="reply">
          <p-button
            label="Reply"
            (onClick)="replyToComment(comment.id, comment.author.username)"
            [text]="true"
            severity="secondary"></p-button>
        </div>
      }
    </div>
    <div class="nested-comments" *ngIf="(comment.childComments && level < 1) || show">
      <ng-container *ngFor="let childComment of comment.childComments">
        <ng-container
          *ngTemplateOutlet="
            commentTemplate;
            context: { comment: childComment, level: level + 1, show: false }
          "></ng-container>
      </ng-container>
    </div>
    <div class="nested-comments" *ngIf="comment.childComments && level >=1 && !show">
      <div class="button-wrapper" *ngIf="!showNested[comment.id]">
        <p-button label="Show more" (onClick)="showMore(comment.id)"></p-button>
      </div>
      <ng-container *ngIf="showNested[comment.id]">
        <ng-container *ngFor="let childComment of comment.childComments">
          <ng-container
            *ngTemplateOutlet="
              commentTemplate;
              context: { comment: childComment, level: level + 1, show: true }
            "></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>
