.toast {
  &-content {
    width: 100%;
    display: flex;

    // &__icon {
    //   margin-right: 0.625rem;

    //   svg {
    //     width: 2rem;
    //     height: 2rem;
    //   }
    // }

    &__messages {
      h4, p {
        margin: 0;
      }

      h4 {
        font-size: 1.125rem;
        margin-top: 0.3125rem;
      }

      p {
        margin-top: 0.375rem;
      }
    }
  }
}
