@import 'variables';

.topic-hashtags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
  @media #{$mobile} {
    max-height: 300px;
    overflow: auto;
  }

  color: $hashtag-color;

  .hashtag {
    font-weight: 800;
    cursor: pointer;

    &:hover {
      color: $hashtag-color-hover !important;
    }
  }
}

.wrapper {
  padding: 5px;
}
