/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variables.scss';
@import 'primeicons/primeicons.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  // TODO: add font family
  font-weight: normal;
  font-style: normal;

  a {
    text-decoration: none;
  }

  app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  app-header {
    flex-shrink: 0;
  }

  main {
    padding: 1rem 2rem;
    overflow-y: auto;
    flex-grow: 1;
  }
}

// ul,
// li,
// h2,
// h3 {
//   margin: 0;
//   padding: 0;
// }

// li {
//   list-style: none;
// }

/* Works on Firefox */
* {
  scrollbar-width: thin;
  // scrollbar-height: thin;
  scrollbar-color: $grey-color-1 $grey-color-7;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: $grey-color-7;
}

*::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  background-color: $grey-color-1;
  border-radius: 6px;
}



:root {
  .no-overflow {
    overflow: hidden !important;
  }

  .button-label-uppercase {
    .p-element {
      .p-button {
        text-transform: uppercase !important;
      }
    }
  } 
  
  .button-label-r-16 {
    .p-element {
      .p-button {
        font-weight: bold;
        font-size: 16px !important;
      }
    }
  }

  .button-label-r-14 {
    .p-element {
      .p-button {
        font-size: 14px !important;
      }
    }
  }

  .button-label-r-18 {
    .p-element {
      .p-button {
        font-size: 18px !important;
      }
    }
  }
}

