// colors
$red-color: #ef0d33;
$yellow-color: #f2c94c;
$background-color: #e5e5e5;
$dark-color: #2c333f;
$white-color: #f2f2f2;
$light-grey: #e1e1e1;
$border-color: #dfdfdf;
$sub-title-color: #a4a3a3;
$green-color: #04af00;
$gray-color: #798594;
$orange-color: #ff8a00;

$dark-color-1: #2c333f;
$dark-color-2: #231f20;
$grey-color-1: #525962;
$grey-color-2: #798494;
$grey-color-3: #c5d0de;
$grey-color-4: #ced7e3;
$grey-color-5: #d6dee8;
$grey-color-6: #dfe5ed;
$grey-color-7: #e8ecf2;
$grey-color-8: #f9fafc;

// screen breakpoints
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "only screen and (min-width: 1025px)";
