.list-wrapper {
  padding-left: 30px;
}

.create-topic-page {
  display: flex;
  flex-flow: column;
  gap: 10px;

  .tips {
  }

  .topic-data {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .accordion {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .topic-title {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .header {
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        gap: 10px;
        width: 20%;

        .button {
          height: 30px;
          width: 60%;
        }
      }

      .content {
        display: flex;

        .title__input {
          padding-left: 1rem;
          margin-top: 1rem;

          min-height: 2rem;
          width: 50%;

          border: 1px solid black !important;
        }
      }
    }

    .metadata {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      height: 300px;

      .hashtags,
      .summarization {
        width: 45%;
        display: flex;
        flex-flow: column;
        .content {
          flex-grow: 1;
          border-radius: 10px;
          border: 1px solid grey;
        }
      }

      .hashtags {
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3px;
          height: 35px;
          .buttons {
            display: flex;
            width: 70%;
            gap: 10px;
            height: 100%;
            justify-content: space-between;
            .button {
              width: 50%;
              height: 100%;
            }
          }
        }

        .content {
          padding: 10px;
          display: grid;
          grid-template-columns: repeat(3, minmax(100px, 190px));
          align-content: start;
          gap: 8px;
        }
      }

      .summarization {
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3px;
          height: 35px;
          .button {
            width: 40%;
            height: 100%;
          }
        }

        .content {
          padding: 10px;
          overflow-y: auto;
        }
      }
    }
  }

  .editor-wrapper {
  }

  .actions {
    display: flex;
    height: 70px;

    justify-content: space-between;

    .button {
      width: 30%;
      .preview__button {
        .p-button {
          .p-button-label {
            font-size: large !important;
            text-transform: uppercase !important;
            font-weight: 800 !important;
          }
        }
      }
    }
  }
}

.overlay-wrapper {
  display: flex;
  padding: 0px 10px 16px 10px;
  align-items: center;
  width: auto;

  .p-input-icon-right {
    .input__hashtag {
      padding-left: 1rem;
      margin-top: 1rem;

      min-height: 2rem;
    }
  }
}

::ng-deep .preview-wrapper {
  display: flex;
  // min-height: calc(100% - 250px);
}

::ng-deep {
  .p-accordion-header-text {
    font-size: 25px;
    margin-left: 10px;
  }
}

::ng-deep {
  .preview-overlay {
    width: 100%;
    top: 30px !important;
    margin-top: 10px !important;
    width: calc(100% - 125px) !important;
    height: calc(100% - 125px) !important;
    overflow-y: scroll;
  }

  .p-overlaypanel-close {
    top: 1rem !important;
    right: 1rem !important;
  }
}
