<section class="create-topic-page">
  <div class="tips">
    <h4>Welcome to create topic page!</h4>
    <h5>Here you can:</h5>
    <div class="list-wrapper">
      <ul>
        <li>Write on any subject you want</li>
        <li>Generate hashtags or customize them</li>
        <li>Get useful tips from AI, to improve your writing experience</li>
        <li>See text summarization</li>
      </ul>
    </div>
  </div>
  <div class="topic-data">
    <div class="topic-title">
      <div class="header">
        <h5 class="header-title">Topic title</h5>
        <div class="button">
          <p-button
            class="button"
            label="Generate title"
            (onClick)="onTitle()"
            [loading]="titleLoading"></p-button>
        </div>
      </div>
      <div class="content">
        <input
          pInputText
          type="text"
          class="p-inputtext-lg title__input"
          [ngModel]="titleInputValue"
          (ngModelChange)="onTitleChange($event)" />
      </div>
    </div>
    <p-accordion class="accordion">
      <p-accordionTab header="Topic metadata" class="accordion-tab">
        <div class="metadata">
          <div class="hashtags">
            <div class="header">
              <h5 class="title">Hashtags</h5>
              <div class="buttons">
                <div class="button">
                  <p-button
                    class="button"
                    label="{{
                      hashtags.length === 0 ? 'Get hashtags' : 'Update hashtags'
                    }}"
                    (onClick)="onHashtags()"
                    [loading]="hashtagsLoading"></p-button>
                </div>
                <div class="button">
                  <p-overlayPanel #op>
                    <div class="overlay-wrapper">
                      <span class="p-input-icon-right">
                        <i class="pi pi-add"></i>
                        <input
                          class="input__hashtag"
                          type="text"
                          pInputText
                          [(ngModel)]="overlayInputValue"
                          (keydown.enter)="addHashtag()" />
                      </span>
                    </div>
                  </p-overlayPanel>
                  <p-button
                    class="button"
                    (onClick)="op.toggle($event)"
                    icon="pi pi-plus"
                    label="Add hashtag"></p-button>
                </div>
              </div>
            </div>
            <div class="content">
              @for (item of hashtags; track $index) {
                <app-hashtag
                  [value]="item"
                  (deleteHashtag)="onRemoveHashtag($event)"></app-hashtag>
              }
            </div>
          </div>
          <div class="summarization">
            <div class="header">
              <h5 class="title">Summarization</h5>
              <div class="button">
                <p-button
                  class="button"
                  label="{{
                    summarization ? 'Update summarization' : 'Get summarization'
                  }}"
                  (onClick)="onSummarization()"
                  [loading]="summarizationLoading"></p-button>
              </div>
            </div>
            <div class="content">
              {{ summarization }}
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="editor-wrapper">
    <app-editor
      [form]="form"
      (textSelectionEvent)="onTextSelection($event)"></app-editor>
  </div>

  <div class="actions">
    <div class="button">
      <p-button
        pButton
        pRipple
        label="Create"
        class="create__button"
        size="large"
        severity="success"
        (onClick)="onCreateClick()"></p-button>
    </div>
    <div class="button">
      <p-button
        pButton
        pRipple
        label="Preview"
        class="preview__button"
        size="large"
        severity="info"
        (onClick)="previewOverlay.toggle($event)"></p-button>
    </div>
  </div>
</section>

<p-overlayPanel
  #previewOverlay
  [showCloseIcon]="true"
  class="preview-overlay"
  [styleClass]="'preview-overlay'"
  [draggable]="true">
  <div class="preview-wrapper">
    <app-topic-content
      [createdAt]="now"
      [hashtags]="hashtagTransform"
      [htmlContent]="editorHtmlContent"
      [title]="titleInputValue"
      [user]="currentUser"></app-topic-content>
  </div>
</p-overlayPanel>
